<!doctype html>
<html>
  <head>
    <title>SAML SSO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://assets.ossoapp.io/stylesheets/demo/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="main-content login">
        <form action="/auth/osso" method="post" class="login-form">
          <label>Email</label>
          <input type="email" name="email" />
          <input type="hidden" value='{{csrf_token}}' name="__anti-forgery-token" />
          <button type="submit">Sign in with SSO</button>
      </div>  
    </div>    
  </body>
</html> 